.btn {
    border-radius: 0.2em;
    font-family: Arial;

    color:var(--texteColor);
    font-size: 1em;
    
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    min-width: 1em;
    vertical-align: middle;
}

.btn:hover, .btn:hover svg {
    background: var(--secondary);
    text-decoration: none;
    color:var(--accent) !important;
    -webkit-text-fill-color: var(--accent);
}

.btn:hover svg{
    fill:var(--accent);
}

.inpt{
    border-radius: 0.2em;
    font-family: Arial;
    color: var(--main);
    border: none;
    font-size: 1em;
    background:var(--background);
    border-bottom: 0.15em solid var(--accent);
    vertical-align: middle;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    font-size: 1em;
}

.inpt:hover {
    border-bottom: 0.15em solid var(--secondary);
    text-decoration: none;
    transition: border-bottom 0.1s linear 0.1s
    
}

table{

    color: var(--main) !important;
    background: linear-gradient(
        to right, 
        var(--secondary), 
        var(--main)
    );
    width: fit-content;
    background-clip : text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}