header{
    height: 5rem;
    width: 100%;
    background-color: var(--background);
    vertical-align: middle;
    box-shadow: 0.5em 0.7em 1em -0.7em var(--shadowColor);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 5rem;
}

.navbar{
    height: 100%;
}