@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --main      : #5BB0BA;
    --secondary : #C15B78;
    --border    : #F6C8CC;
    --accent    : #EBF5F7;

    --background    : white;
    --texteColor    : #3a3a3a;
    --shadowColor   : #00000085;
}

body{
    color:var(--texteColor);
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

h1,h2{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
    background: linear-gradient(
        to right, 
        var(--main), 
        var(--secondary)
    );
    width: fit-content;
    background-clip : text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a{
    color:var(--texteColor);
    text-decoration: none;
}
a:hover{
    color:var(--texteColor);
}

hr{
    background: linear-gradient(
        to right, 
        var(--secondary), 
        var(--border)
    );
}

.main{
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: var(--background);
}

#gamearea{
    width: 1280px;
    height: 720px;
}